# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=Prince~V4oQWJRS#vauhwulZHZmwNA4NsaoWxe8QaxzI8KFlE1s35QFsPh0
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=923062405672;TANVEER ZAKHMI 
antidelete=true
BOT_NAME=TANVEER;ZAKHMI
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=true
VIEWONCE=true
REPLY_STATUS=true
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *ᴘʀɪɴᴄᴇ ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=true
